#Data Types and Structures

1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
  They are important because -
  - Choosing the right data structure significantly impacts the efficiency and performance of your program.
  - Well-chosen data structures can:
  - Simplify data manipulation (adding, removing, modifying elements)
  - Optimize searching and sorting operations
  - Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types can be modified after they're created, while immutable data types cannot. Mutable examples include lists, dictionaries, and sets, while immutable examples include strings and tuples.
  Example -
  List - We can add, remove, or change elements within a list.

        my_list = [1, 2, 3]
        my_list.append(4)  # Modifies the list directly
        print(my_list)  # Output: [1, 2, 3, 4]

  Strings: We cannot directly change individual characters within a string.

        my_string = "Hello"
        my_string[0] = 'J'  # This will raise an error because strings are immutable

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable: you can change, add, or remove elements after creation.
  Tuples are immutable: once created, their elements cannot be changed.

4. Describe how dictionaries store data.
  - In Python, dictionaries store data as key-value pairs, using a data structure called a hash table.

5. Why might you use a set instead of a list in Python?
  - Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive. As a result, sets take less time to search through.

6.  What is a string in Python, and how is it different from a list?
  - In Python, strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).
  Strings are immutable but lists are mutable.

7. How do tuples ensure data integrity in Python?
  - Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its contents cannot be modified, which means elements cannot be added, removed, or changed.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs, where each key is unique and the position (index) for each key is determined by a hash function.
  In Python, the Dictionary data types represent the implementation of hash tables.

9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types. A single list can hold integers, floats, strings, booleans, and even other lists, tuples, or dictionaries.

10.  Explain why strings are immutable in Python?
  - trings are immutable in Python primarily for efficiency and consistency reasons. Immutability means that once a string is created, its value cannot be changed. Any operation that appears to modify a string actually creates a new string object.

11. What advantages do dictionaries offer over lists for certain tasks?
  - It is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

12. Describe a scenario where using a tuple would be preferable over a list?
  - There may be some occasions when we don't want our data to be changed. If we have data that's not meant to be changed in the first place — such as critical information or records, bank information etc — we should choose tuple data type over lists.

13.  How do sets handle duplicate values in Python?
  - Sets in Python are designed to store only unique elements. When a duplicate value is added to a set, it is automatically discarded, and only one instance of the value is retained. This behavior is a fundamental characteristic of sets, ensuring that they always contain distinct elements.

14. How does the “in” keyword work differently for lists and dictionaries?
  - the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, we cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex, multi-layered data, such as employee information with nested address and contact details.

17.  Describe the time complexity of accessing elements in a dictionary?
  - The average time complexity is O(1) (constant time).
    - The worst-case time complexity is O(n) due to hash collisions.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when:
  - Order matters and we need to maintain a specific sequence of elements.
   - We have duplicate values and want to preserve them.
  - we need to iterate over items in order or by index.
 - Data is indexed by position, not by a unique key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In terms of data retrieval, a dictionary excels at quickly accessing values using unique keys, while a list retrieves values based on their position (index) in a sequence.

In [1]:
#1.  Write a code to create a string with your name and print it.

name = "Himanshu Agrahari"
print(name)

Himanshu Agrahari

In [2]:
#2. Write a code to find the length of the string "Hello World".

str = "Hello World"
len(str)

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
text[:3]

'Pyt'

In [5]:
#4. Write a code to convert the string "hello" to uppercase.

text = "hello"
text.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [17]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

color = ('red', 'green', 'blue', 'yellow')
print(color[-2])

blue

In [19]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min(numbers)

5

In [20]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [23]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
  print("it is present")
else:
  print("it is not present")

it is not present

In [24]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

myset = {'a', 'b', 'c'}
print(myset)

{'c', 'b', 'a'}

In [27]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [29]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [30]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [31]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [32]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [33]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [36]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("it is present")
else:
    print("it is not present")

it is present

In [40]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

list1 = [1, 2, 3]
tuple1 = ('a', 'b', 'c')
dict1 = {'name': 'Alice', 'age': 25}

print(list1)
print(tuple1)
print(dict1)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Alice', 'age': 25}

In [46]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[28, 38, 62, 63, 81]

In [49]:
#28. Write a code to create a list with strings and print the element at the third index.

fruits1 = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits1[3])

date

In [50]:
#29.  Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [52]:
#30. Write a code to convert a list of strings into a set.

list1 = ["apple", "banana", "apple", "cherry"]
set1 = set(my_list)
print(set1)

{'apple', 'banana', 'cherry'}